@layer components {
    .badge-primary {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-primary-600 text-primary-50
    } 

    .badge-secondary {
        @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-600 text-gray-50
    } 
}