
@layer components {
    .input-icon-primary {
        @apply focus:ring-primary-600 focus:border-primary-600 block pl-10 sm:text-sm border-gray-300 rounded-md
    }

    .input-icon {
        @apply focus:ring-gray-500 focus:border-gray-500 block pl-10 sm:text-sm border-gray-300 rounded-md
    }

    .input-primary {
        @apply focus:ring-primary-600 focus:border-primary-600 block sm:text-sm border-gray-300 rounded-md w-full
    }

    .input {
        @apply focus:ring-gray-500 focus:border-gray-500 block sm:text-sm border-gray-300 rounded-md
    }
}
