#app{
    @apply font-body
}


.hide-scroll{
    scrollbar-width: none;
}
   

.fixed-width{
    width: calc(100% - 288px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}